body{
    background-color: blue;
}

.poly{
    height: 200px;
    width:300px;
    box-shadow: 5px 5px 5px red;
    background-color: rgb(68, 0, 255);
    position: relative;
    margin: auto;
}
.poly img{
    width: 100%;
}
.c1{
    height: 300px;
    width: 300px;
    background-color: black;
    position: relative;
    margin: auto;
}
.c1::before{
    content: "";
    position: absolute;
    left: 0;

    bottom: 0;
    width: 60%;
    height: 30px;
    background-color: red;
    transform-origin: right;
    transform: skewY(-5deg);
    z-index: -1;
    filter: blur(5px);

    
}
.c2{
    height: 300px;
    width: 300px;background-color: aqua;
    position: relative;
    margin: auto;
}
.c2::before{
    content: "";
    position: absolute;
    background-color: rgb(12, 11, 11);
    left: 5px;
    width: 90%;
    height: 20%;
    bottom: -50px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(15px);
}
.box{
   height: 300px;
   width: 300px;
   background-color: blue;
   position: relative; 
   margin: auto;
   border-radius: 25px;
   box-shadow: -15px -15px 15px rgb(255, 255, 255, 0.5),
   15px 15px 15px rgb(0, 0, 0, 0.5);
}
.box2{
    height: 300px;
    width: 300px;
    background-color: blue;
    position: relative; 
    margin: auto;
    border-radius: 25px;
    box-shadow: -15px -15px 15px rgb(255, 255, 255, 0.4),
    15px 15px 15px rgb(0, 0, 0, 0.4), inset -15px -15px 15px
     rgb(255, 255, 255, 0.4), inset 15px 15px 15px rgb(0, 0, 0, 0.3);

}

.box3{
    height: 56px;
    width: 56px;
    background-image: url(image/img.png);
    position: relative;
    margin: auto;
    background-position:-178px -76px;

}
.box3:hover{
    background-position: -238px -76px;
}
.box4{
    
    height: 300px;
    width: 300px;
    background-color: aqua;
    position: relative;
    margin: auto;
    transform: rotate(-45deg);
    border-radius: 25px;
}
.box4 h2{
    text-align: center;
    position: relative;
    top:40% ;
    font-size: 25px;
    transform: rotate(45deg);
}
.box5{
    height: 300px;
    width: 300px;background-color: rgb(160, 21, 21);
    position: relative;
    margin: auto;
    transition-property: all;
    transition-delay: 1s;
    transition-duration: 2s;
    

}
.box5:hover{
    width: 300px;
    height: 300px;
    background-color: aqua;
    transform: rotate(180deg);
    border-radius: 50%;
}
h1{
    
    font-size: 30px;
    text-shadow: 13px 12px 10px rgb(223, 206, 206);
}